<mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center center" style="padding: 15px;">
  <p>You need an AWS account to use this addon</p>
  <button mat-raised-button (click)="openInBrowser.emit('https://aws.amazon.com/')" class="aws-button">SIGNUP TO AWS</button>
  <p style="margin-top: 45px;">Already have an AWS account ? Please fill the settings with your
    <span class="link" (click)="openInBrowser.emit('https://docs.aws.amazon.com/fr_fr/sdk-for-javascript/v2/developer-guide/getting-your-credentials.html')">
      AWS API keys</span>
    :</p>
  <button mat-raised-button (click)="openSetup.emit()" class="aws-button">ADDON SETTINGS</button>
</mat-card-content>