:host {
    flex: 1;
    display: flex;
    flex-direction: column !important;
}
button {
    margin: 5px;
}
.link {
	text-decoration: underline;
	cursor: pointer;
	color: #232f3e;
}
p {
    font-size: 15px;
    font-weight: 200;
}