<ng-template #endpointEditor>
  <div fxLayout="column">
    <mat-toolbar color="primary">
      Endpoint Editor
    </mat-toolbar>
    <mat-dialog-content>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="! endpoint">
        <mat-button-toggle-group name="endpointType" aria-label="Endpoint Type" (change)="endpointTypeChange($event)">
          <mat-button-toggle value="upload" checked="true">Upload</mat-button-toggle>
          <mat-button-toggle value="fetch">Fetch</mat-button-toggle>
          <mat-button-toggle value="delete">Delete</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <ng-container *ngTemplateOutlet="endpointTypes[selectedEndpointType].template"></ng-container>
    </mat-dialog-content>
  </div>
</ng-template>
<ng-template #uploadFormTemplate>
  <form [formGroup]="uploadForm" fxLayout="column" (submit)="saveUploadEndpoint()">
    <mat-form-field>
      <mat-select placeholder="Bucket" formControlName="bucket">
        <mat-option *ngFor="let bucket of buckets" [value]="bucket.Name">{{bucket.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="upload_type" placeholder="Upload type" required>
        <mat-option value="single">Single</mat-option>
        <mat-option value="multiple">Multiple</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Url" formControlName="url" required>
      <span matPrefix>api/&nbsp;</span>
      <mat-error *ngIf="uploadForm.controls['url'].errors?.exists">
        You already have a POST endpoint with this url.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="File input name" formControlName="input_name" required>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input matInput placeholder="File size limit (bytes)" type="number" formControlName="size_limit">
      </mat-form-field>
      <span style="margin: 0 10px; font-weight: bold;">
        {{ uploadForm?.controls['size_limit']?.value | materiaByte }}
      </span>
    </div>
    <mat-form-field *ngIf="uploadForm.controls['upload_type'].value === 'multiple'">
      <input matInput placeholder="Max file count" type="number" formControlName="max_file_count">
    </mat-form-field>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let type of mimeTypesAllowed" selectable="true" removable="true" (removed)="removeAllowedMimeType(type)">
          {{type}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #mimeTypes placeholder="MIME types allowed" [formControl]="mimeTypesControl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="false"
          (matChipInputTokenEnd)="addAllowedMimeType($event)">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMimeType($event)">
          <mat-option *ngFor="let type of filteredMimeTypes | async" [value]="type">
            {{ type }}
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Permissions" formControlName="permissions" multiple>
        <mat-option *ngFor="let perm of permissions" [value]="perm.name">{{perm.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="column" class="advance-settings" *ngIf="selectedEndpointType === 'upload'">
        <div class="advance-settings-header" fxLayout="row" fxLayoutAlign="start center" style="cursor: pointer;" matRipple (click)="advanceSettingsExpanded = !advanceSettingsExpanded">
            <mat-icon>settings</mat-icon> 
            <span fxFlex>Advance Settings</span>
            <mat-icon>{{ advanceSettingsExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </div>
        <div class="advance-settings-body" *ngIf="advanceSettingsExpanded">
            <div fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Request timeout (ms)" type="number" formControlName="request_timeout">
                </mat-form-field>
              </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">SAVE</button>
      <button mat-raised-button mat-dialog-close="cancel" type="button">CANCEL</button>
    </div>
  </form>
</ng-template>
<ng-template #fetchFormTemplate>
  <form fxLayout="column" [formGroup]="fetchForm" (submit)="saveFetchEndpoint()">
    <mat-form-field>
      <mat-select placeholder="Bucket" formControlName="bucket">
        <mat-option *ngFor="let bucket of buckets" [value]="bucket.Name">{{bucket.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Url" formControlName="url" required>
      <span matPrefix>api/&nbsp;</span>
      <mat-error *ngIf="fetchForm.controls['url'].errors?.exists">
        You already have a GET endpoint with this url.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Permissions" formControlName="permissions" multiple>
        <mat-option *ngFor="let perm of permissions" [value]="perm.name">{{perm.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">SAVE</button>
      <button mat-raised-button mat-dialog-close="cancel" type="button">CANCEL</button>
    </div>
  </form>
</ng-template>
<ng-template #deleteFormTemplate>
  <form fxLayout="column" [formGroup]="deleteForm" (submit)="saveDeleteEndpoint()">
    <mat-form-field>
      <mat-select placeholder="Bucket" formControlName="bucket">
        <mat-option *ngFor="let bucket of buckets" [value]="bucket.Name">{{bucket.Name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Url" formControlName="url" required>
      <span matPrefix>api/&nbsp;</span>
      <mat-error *ngIf="deleteForm.controls['url'].errors?.exists">
          You already have a DELETE endpoint with this url.
       </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Permissions" formControlName="permissions" multiple>
        <mat-option *ngFor="let perm of permissions" [value]="perm.name">{{perm.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">SAVE</button>
      <button mat-raised-button mat-dialog-close="cancel" type="button">CANCEL</button>
    </div>
  </form>
</ng-template>