<form *ngIf="awsConfigForm" [formGroup]="awsConfigForm" style="max-width: 400px" (submit)="submit()">
  <h2 mat-dialog-title fxLayout="row">
    <span fxFlex style="position: relative; top: 3px; left: 5px;">AWS S3 - Setup</span>
    <button (click)="close()" type="button" tabindex="-1" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content>
    <div style="padding: 0 15px;" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Access Key ID" formControlName="accessKeyId">
            <mat-error *ngIf="awsConfigForm.controls['accessKeyId'].errors?.required">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Secret access key" formControlName="secretAccessKey">
            <mat-error *ngIf="awsConfigForm.controls['secretAccessKey'].errors?.required">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Region" formControlName="region">
            <mat-error *ngIf="awsConfigForm.controls['region'].errors?.required">
                This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button (click)="close()" type="button">Cancel</button>
  </mat-dialog-actions>
</form>